
body {
    background-color: #6d6d6d;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    /* align-items: center; */
}
.gallery img{
	margin:5px;
    border:3px solid #fff;
    width: 200px;
    height: 200px;
}
a:hover img{
	border:3px solid #034F80;
}
.breadcrumbs-gallery {
    margin: 30px;
}
.breadcrumbs-gallery li {
    font-size: 18px;
}
.breadcrumbs-gallery li a {
    text-decoration: none;
    color: #fff;
    float: left;
    display: inline-block; 
    margin-right: 10px; 
}
.breadcrumbs-gallery li a:after {
    content: '>';
    margin-left: 10px;
    vertical-align: middle;
}