/* HEADER */
body {
    padding-top: 70px;
}
.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 10;
    left: 0px;
    right: 0px;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #000;
    padding: 15px 0;
}

.menu > ul{
    display: flex;
    justify-content: center;
   } 
    
.menu > ul li{
    position: relative;
   }   
.menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
   }
   .dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
   } 
.menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
   }   
.menu li a:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }    
.menu > ul li a{
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
   }    
.menu li ul{
    position: absolute;
    min-width: 150px;
   }    
.menu li > ul li{
    border: 1px solid #c7c8ca;
   }    
.menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }    
.menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
   }    
.menu li:hover > ul{
    display: block;
   }    
.mobile {
    display: none;
}
.header-logo {
    width: 120px;
    height: 40px;
}
.header-logo:hover {
    cursor: pointer;
    border: none;
}
.header-search_search {
    border: none;
    border-bottom: 1px solid #989898;
    width: 70px;
}
.header-search_button {
    background-color: #cac8c8;
    border: none;
    color: #666565;
    padding: 5px 10px;
    border-radius: 15px;
}
.breadcrumbs {
    margin: 30px;
}
.breadcrumbs li {
    font-size: 18px;
}
.breadcrumbs li a {
    text-decoration: none;
    color: #666565;
    float: left;
    display: inline-block; 
    margin-right: 10px; 
}
.breadcrumbs li a:after {
    content: '>';
    margin-left: 10px;
    vertical-align: middle;
}

/* SLIDER */
.slider {
    margin-bottom: 50px;
}
.slides p {
    color: #000;
    font-size: 76px;
}
.slides {
    justify-content: center;
    position: relative;
    align-items: center;
    width: 100%;
    background-image: url("../images/slider/slide1.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height: 550px;
}
.slides:nth-child(2) {
    background-image: url("../images/slider/slide2.jpg");
}
.slides:nth-child(3) {
    background-image: url("../images/slider/slide3.jpg");
}
.arrows {
    position: absolute;
    cursor: pointer;
    top: 450px; 
    width: 100%;  
}
.leftArrow {
    transform: rotate(180deg);
    float: left;
}

.rightArrow {
    float: right;
}
/* CATALOG */

.catalog {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
} 

.main-title {
    color: #989898;
    font-size: 40px;
    text-align: center;

}
.catalog-filter {
    margin-top: 20px;
    min-width: 150px;
    text-align: center;
    color: #989898;
}
.catalog-filter_title {
    /* color: #989898; */
    font-size: 20px;
    margin-bottom: 20px;
}
.catalog-filter input {
    margin-left: 10px;
}
.catalog-filter label {
    
}

.catalog-content {
    display: none;
    line-height: 1.5;
    text-align: center;
    padding: 10px;
    min-width: 250px;
    max-width: 300px;
    background-color: #e8ebeb;
    color: #989898;
    margin: 20px;
}
.catalog-content:hover {
    box-shadow: 2px 2px 10px #000;
    transition: 0.5s;
}
.item-bold {
    font-weight: 900;
}
.item-image {
    margin-bottom: 10px;
    max-width: 250px;
    max-height: 200px ;
}
.item-buy {
    margin-top: 10px;
    border: none;
    background-color: #9BD4D9;
    padding: 10px;
    border-radius: 20px;
    
}

#object {
    background-color: #302b2d;
}
.newObject {
    display: none;
}
.newObject input {
    display: block;
    margin: 10px 0;
    border: 2px solid #fff;
    background-color: #302b2d;
    width: 260px;
    height: 30px;
    padding-left: 10px;
    color: #fff;
}
.newObject input:nth-child(4) {
    border: none;
}
.newObject input:nth-child(5) {
    width: 275px;
}
.addNewObject {
    display: block;
    margin: 20px auto;
    width: 100px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #cac8c8;
    border-radius: 15px;
    color: #666565;
}
.sortElements {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.sortElements p {
    color: #666565;
    font-size: 18px;
    margin-bottom: 5px;
}
.sortElements button {
    background-color: #cac8c8;
    border: none;
    color: #666565;
    padding: 5px 10px;
    border-radius: 15px;
 }
/* SERVICES */ 
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
}
.services-item {
    max-width: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.services-item img {
    max-width: 250px;
    margin-bottom: 10px;
}
.services-item_name {
    color: #989898;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.services-item_text {
    color: #989898;
    line-height: 1.3;
}
/* FEEDBACKS */
.feedbacks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.feedbacks-block {
    display: block;
    max-width: 300px;
    background-color: #302b2d;
    color: #fff;
    padding: 20px;
    margin: 10px;
}
.feedbacks-rating {
    display: inline-block;
    float: right;
}
.feedbacks-rating-rate {
    color: red;
}
.feedbacks-block .name {
    display: inline-block;
    font-size: 20px;
}
.feedbacks-block .text {
    margin-top: 10px;
    line-height: 1.5;
}
.feedbacks-rating p {
    display: inline-block;
}

.add-feedback * {
    display: block;
}
/* CONTACTS */
.footer {
    background-color: #302b2d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.footer-form, .footer-contacts {
    margin-top: 60px;
}
.footer-title {
    font-size: 30px;
    color: #fff;
    margin-bottom: 50px;
}
.footer-form form input {
    display: block;
    margin: 10px 0;
    border: 2px solid #fff;
    background-color: #302b2d;
    width: 260px;
    height: 30px;
    padding-left: 10px;
    color: #fff;
}
.footer-form form select {
    background-color: #302b2d;
    border: 2px solid #fff;
    width: 275px;
    height: 30px;
    color: #fff;
    margin-right: 10px;
}
.footer-form form label {
    color: #a0a0a0;
    font-size: 18px;
}
.footer-form form input[type="submit"] {
    font-weight: 600;
    border: 2px solid #fff;
    width: 275px;
    margin-top: 10px;
    height: 30px;
}
.footer-contacts_numbers {
    color:#a0a0a0;
    font-size: 18px;
    line-height: 2.5;
}
.footer-contacts_numbers:nth-child(2)::before {
    content: url(../images/contacts/phone-icon.png);
    margin-right: 10px;
}
.footer-contacts_numbers:nth-child(3)::before {
    content: url(../images/contacts/email-icon.png);
    margin-right: 10px;
}
.footer-contacts_numbers:nth-child(4)::before {
    content: url(../images/contacts/marker-icon.png);
    margin-right: 10px;
}
#map {
    height: 400px;
} 
.paginator {
    text-align: center;
  line-height: 150%;
}
.paginator > span {
  display: inline-block;
  width: 20px;
  background-color: #d6d3d3;
  margin-right: 7px;
  margin-left: 7px;
  cursor: pointer;
}
.paginator_active {
  color: red;
}
#ex1 {
    background-color: red;
}
@media screen and (max-width: 992px) {
    .header-nav a {
        font-size: 16px;
    }
    .menu > ul li a {
        padding: 15px;
    }
}
@media screen and (max-width: 768px) {
    .header-items {
        display: none;
    }
    .header-menu {
        cursor: pointer;
    }
    .header-menu_button {
        display: block;
        width: 40px;
        height: 6px;
        margin-bottom: 3px;
        background-color: #989898;
        transition: 0.5s;
    }
    .header-menu_button-noactive {
        display: block;
        width: 40px;
        height: 6px;
        margin-bottom: 3px;
        background-color: #989898;
        transition: 0.5s;
    }
    .header-menu_button-noactive:nth-child(1) {
        transform: rotate(45deg) translate(6px);
    }
    .header-menu_button-noactive:nth-child(3) {
        transform: rotate(-45deg) translate(6px);
    }
    .header-menu_button-noactive:nth-child(2) {
        display: none;
    }
    .mobile-active {
        list-style: none;
    }
    .mobile-active {
        display: block;
        background-color: #302b2d;
        padding-top: 20px;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 10;
    }
    .mobile-menu {
        text-align: center;
    }
    .mobile-menu li {
        margin-bottom: 10px;
    }
    .mobile-menu a {
        text-decoration: none;
        color: #989898;
        font-size: 18px;
    }
    .mobile-menu li:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 15px;    
        background-color: #989898;
    }
    .mobile-menu #last-li:after {
        content: '';
        width: 0;
    }
    .mobile-submenu {
        display: none;
    }
    .mobile-submenu_active {
        display: block;
        color: #fff;
    }
    .mobile-submenu_active a {
        color: #fff;
    }
}
@media screen and (max-width: 600px) {
    #changeCheckbox {
        margin-left: 40%;
    }
    .catalog-filter input {
        /* display: block; */
        float: left;
        margin-right: 5px;
    }
    .catalog-filter label {
        float: left;
    }
    .catalog-filter span {
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .catalog-content {
        min-width: 300px;
    }
    .item-image {
        min-width: 290px;
        min-height: 290px;
    }
}
  

  